.contenedor{
    border: 20px double #000000;
    background-color: #29A9F7;
}

.any{
    text-align: center;
    font-family:Monaco,Georgia,Times,serif;
    font-size: 22px;
}

.titol{
    text-align: center;
    font-family:Monaco,Georgia,Times,serif;
}

.subtitol{
    text-align:center;
    font-size: 24px;
    font-family:Monaco,Georgia,Times,serif;
    font-weight: bold;
}

.important{
        text-align:center;
}
